body {
    background-color: #080052; /* rojo oscuro */
    color: #FFFFFF; /* blanco */
}

.header {
    background-color: #0e0d22; /* rojo */
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px; /* tamaño reducido */
    display: block; /* para centrar */
    margin: 0 auto; /* para centrar */
}

.navbar {
    margin-top: 10px;
    background-color: #29293a; /* rojo oscuro */
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    color: #FFFFFF; /* blanco */
    text-decoration: none;
    margin: 0 10px;
}

.content {
    padding: 20px;
    text-align: center;
}
